body {
    margin: 0%;
    padding: 0%;
}

.nav1 {
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    width: 20%;
    height: 100px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.food {
    font-size: 1.8em;
    color: rgb(241, 114, 40);
    font-family: "Source Code Pro", serif;
}

.wagon {
    font-size: 1.8em;
    color: rgb(255, 179, 14);
    font-family: "Source Code Pro", serif;
}

.location {
    width: 30%;
    height: 100px;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.deliver {
    font-weight: 700;
    margin-right: 10px;
}

.current {
    margin-right: 3px;
    margin-left: 6px;
}

.busstand {
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}

.login {
    width: 30%;
    height: 100px;
    background-color: red;
}

.search {
    width: 20%;
    height: 80px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchspan {
    margin-left: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
}

.b1 {
    width: 23%;
    height: 35px;
    background: white;
    margin-left: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    border-radius: 12px;
    box-shadow: rgba(225, 156, 1) 0px 5px 8px;
}

.loginabutton {
    color: rgb(225, 156, 1);
    font-weight: bolder;
}

/* nav bar complete */


/* HeroSection Start */


.herosection {
    width: 100%;
    height: 620px;
    background-color: rgb(252, 204, 31);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.starving {
    width: 55%;
    height: 550px;
    background-color: olivedrab;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.s8 {
    font-size: 3.2em;
    color: #fff;
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 220px;
}

.s9 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 170px;
}

.pickup {
    width: 65%;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.rider {
    width: 100%;
    height: 60px;
    /* background-color: rebeccapurple; */
    border-bottom: solid grey 2px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.db {
    width: 15%;
    height: 30px;
    background-color: rgb(246, 215, 197);
    font-size: 14px;
    font-weight: 700;
    color: rgb(241, 114, 40);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    border-radius: 6px;
    margin-left: 10px;
}

.pb {
    width: 15%;
    height: 30px;
    background-color: white;
    font-size: 14px;
    font-weight: 700;
    color: gray;
    margin-left: 10px;
    border: none;
}

.findfood {
    width: 100%;
    height: 100px;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.findfood2 {
    width: 73%;
    height: 55px;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.findfood3 {
    width: 20%;
    height: 58px;
    background-color: rgb(249, 98, 34);
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.enteryouraddress {
    margin-left: 10px;
}

.loc {
    margin-left: 12px;
    color: rgb(249, 98, 34);
}

.findfoodbutton {
    font-size: 15px;
    color: white;
    font-weight: 800;
}








.egg {
    width: 40%;
    height: 550px;
    background-color: olivedrab;
}
